[submodule "source/libs/libopencm3"]
	path = source/libs/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "source/libs/freertos"]
	path = source/libs/freertos
	url = https://github.com/dimtass/freertos.git
[submodule "source/libs/stm32-usb-fs-device-driver"]
	path = source/libs/stm32-usb-fs-device-driver
	url = https://github.com/dimtass/stm32-usb-fs-device-driver.git
[submodule "source/libs/stdperiph"]
	path = source/libs/stdperiph
	url = https://github.com/dimtass/stdperiph.git
[submodule "source/libs/cmsis"]
	path = source/libs/cmsis
	url = https://github.com/dimtass/cmsis.git
[submodule "source/libs/stm32f1_dimtass_lib"]
	path = source/libs/stm32f1_dimtass_lib
	url = https://bitbucket.org/dimtass/stm32f1_dimtass_lib.git
[submodule "source/libs/noarch_c_lib"]
	path = source/libs/noarch_c_lib
	url = https://bitbucket.org/dimtass/noarch_c_lib.git
