[submodule "source/libopencm3"]
	path = source/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "source/libs/freertos"]
	path = source/libs/freertos
	url = git@github.com:dimtass/freertos.git
[submodule "source/libs/stm32-usb-fs-device-driver"]
	path = source/libs/stm32-usb-fs-device-driver
	url = git@github.com:dimtass/stm32-usb-fs-device-driver.git
[submodule "source/libs/libopencm3"]
	path = source/libs/libopencm3
	url = git@github.com:dimtass/libopencm3.git
[submodule "source/libs/stdperiph"]
	path = source/libs/stdperiph
	url = git@github.com:dimtass/stdperiph.git
[submodule "source/libs/cmsis"]
	path = source/libs/cmsis
	url = git@github.com:dimtass/cmsis.git
